<div	class="card-content">
        <div	class="card-img">
            <img	src="https://placeimg.com/380/230/nature" alt="">
            <span><h4>{{position}}	</h4></span>
        </div>
        <div	class="card-desc">
            
            
            <p>Servicios</p>
            <ul>
                <li *ngFor="let s of destino.destinos">
                    <span [ngSwitch]="s">
                        <i *ngSwitchCase="'terminar en 1 hora'" style="color: red">{{s}}</i>
                        <i *ngSwitchDefault>{{s}}</i>
                    </span>
                </li>
            </ul>
            <div class="row" style="margin-left: 10px">
                <div class="column">
                    <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
                    <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
                </div>
                <div class="column" style="margin-left: 10px">
                    <p>{{destino.votes}}</p>
                </div>
               
            </div>
            
            <div class="row">
                <a	href="#"	class="btn-card" (click)="ir()">PRIORIZAR</a>
            </div>
            <span *ngIf="destino.isSelected()">
                <span ngNonBindable style="color: #a13825; margin-right:10px;">{{PRIORIDAD}}</span>
            </span>	
            <a [routerLink]="['/destino']">Ver detalle</a>
        </div>
    </div>
    
    


